@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

:root{
    --cor-01:#444257;
    --cor-02:#F66B0E;
    --cor-03:#fff5ee;
}

body{
    background-color: var(--cor-01);
    color: var(--cor-03);
}
article{
    margin: 0 20px;
}
main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1em;
    width: 900px;
    margin: auto;
    padding: 20px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: var(--cor-02);
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: var(--cor-02);
}
a{
    text-align: center;
    color: var(--cor-03);
    text-decoration: none;
}
a:hover{
    color: var(--cor-02);
    font-weight: 500;
}

.fotoperfil{
    border-radius: 25%;
    width: 20%;
    float: left;
    margin: 20px;
    
}
.sobremim{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redessociais{
    box-sizing: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

ul img{
    width: 25px;
    margin: 10px;
}
.link {
    display: flex;
    align-items: center;
}
.estudos{
    text-indent: 30px;
    text-align: justify;
}
span{
    font-size: 14px;
    font-weight:300;
    font-style: italic;
    color: #b3562e;
    text-align: center;
    padding: 20px;
}