@charset "utf-8";

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

body{
    background-color: rgb(189, 134, 240);
}

main{
    background-color: azure;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
}